<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ExtJs5.1测试</title>
		<!-- 样式文件 -->
		<link href="../ext/classic/resources/ext-theme-classic-all-debug.css" rel="stylesheet" type="text/css">
		<!-- 核心文件 -->
		<script src="../ext/ext-all-debug.js"></script>
		<!-- 核心文件 -->
		<script src="../ext/classic/ext-theme-classic-debug.js"></script>
		<!-- 中文包 -->
		<script src="../ext/locale/ext-locale-zh_CN-debug.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="form" style="margin:100px;"></div>
		
		<script type="text/javascript">
			 Ext.onReady(function(){
				var form = new Ext.form.FormPanel({
				            labelAlign: 'right',
				            labelWidth: 60,
				            buttonAlign: 'left',
				            title: '表单布局',
				            frame: true,    //True 为 Panel 填充当前主题背景
				            width: 1000,
							height: 350,
				            items: [
								{
									xtype: 'container',     //容器
									layout: 'column',       //列布局 分4列
									items: [
										{
											xtype: 'container',
											columnWidth: 0.25,
											layout: 'form',     //输入框纵向的依次的排列, 且宽度与容器宽度相等
											items: [
												{ xtype: 'textfield', fieldLabel: '文本框1-1',vtype:'email',name:'text1',require:true },
												{ xtype: 'textfield', fieldLabel: '文本框1', name: 'text2' }
											]
										}, //第一列
										{  //第二列
											xtype: 'container',
											columnWidth: 0.25,
											layout: 'form',
												items: [
													{ xtype: 'textfield', fieldLabel: '文本框2' },
													{ xtype: 'datefield', fieldLabel: '日期',format:'Y-m-d' }
												]
										}, 
										{//第三列
											xtype: 'container',
											columnWidth: 0.25,
											layout: 'form',
												items: [{ xtype: 'textfield', fieldLabel: '文本框3' },
												{xtype:'textfield',fieldLabel:'文本框3-2'}]
										},
										{//第四列
											xtype: 'container',
											columnWidth: 0.25,
											layout: 'form',
											items: [{ xtype: 'textfield', fieldLabel: '文本框4' },
											{ xtype: 'textfield', fieldLabel: '文本框4' }]
										}]
				            },
								{
				                    xtype: 'textarea',
				                    fieldLabel: '输入框',
				                    labelWidth:60,
				                    width: 485,
				                    height: 50,
				                    margin:'0 0 2 5'
				                }],
				            buttons: [{
				                text: '提交表单',
				                handler: function () {
				                    form.getForm().submit({
				                        url: '/Form/Submit',
				                        success: function (form, action) {   //返回的json对象需要有success字段为true才执行此方法
				                            console.log(action.result)
				                        }
				                    });
				                }
				            }]
				        });
				
				        form.render("form");
				 
			 });
			         
		</script>

	</body>
</html>
